<!-- reporte.component.html -->
<div class="mb-4"></div>
<div class="container mt-5">
  <!-- Formulario para buscar alumnos -->
  <form class="row g-4 p-4 shadow rounded bg-light" (ngSubmit)="buscarAlumno()">
    <h2 class="mb-3 text-center">Creando Reporte De Incidencia</h2>
    <div class="col-md-8">
      <input type="text" class="form-control" [(ngModel)]="criterio" name="criterio"
        placeholder="Nombre O Apellido Del Alumno" required>
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-success w-100">Buscar</button>
    </div>
  </form>

  <!-- Tabla de alumnos encontrados -->
  <div class="table-responsive mt-3" *ngIf="alumnos.length > 0">
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-success">
        <tr>
          <th>CURP</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Grupo</th>
          <th>Semestre</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.student_id }}</td>
          <td>{{ alumno.name }}</td>
          <td>{{ alumno.firstname }}</td>
          <td>{{ alumno.lastname }}</td>
          <td>{{ alumno.group_id }}</td>
          <td>{{ alumno.semester_id }}</td>
          <td><button class="btn btn-success" (click)="seleccionarAlumno(alumno.student_id)">Seleccionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ID del alumno seleccionado -->
  <div class="input-group col-md-4 mt-3" *ngIf="reporte.student_id">
    <span class="input-group-text">ID De Alumno: </span>
    <!-- <label class="form-label" for="alumnoId">ID Alumno Seleccionado: </label> -->
    <input class="form-control" type="text" id="alumnoId" [value]="reporte.student_id" readonly>
  </div>
</div>

<div class="container mt-4">
  <!-- Formulario para buscar incidencias -->
  <form class="row g-4 p-4 shadow rounded bg-light" (ngSubmit)="buscarIncidencia()">
    <div class="col-md-8">
      <input class="form-control" type="text" [(ngModel)]="criterioBusquedaIncidencia" name="criterioBusquedaIncidencia"
        placeholder="Tipo De Incidencia" required>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success w-100" type="submit">Buscar</button>
    </div>
  </form>

  <!-- Tabla de incidencias encontradas -->
  <div class="table-responsive mt-3" *ngIf="incidencias.length > 0">
    <table class="table table-hover table-striped">
      <thead class="table-success">
        <tr>
          <th>ID</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incidencia of incidencias">
          <td>{{ incidencia.type_id }}</td>
          <td>{{ incidencia.type_name }}</td>
          <td>{{ incidencia.description }}</td>
          <td><button class="btn btn-success" (click)="seleccionarIncidencia(incidencia.type_id)">Seleccionar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ID de la incidencia seleccionada -->
  <div class="input-group col-md-4 mt-3" *ngIf="reporte.type_id">
    <span class="input-group-text">ID De Incidencia: </span>
    <input class="form-control" type="text" id="incidenciaId" [value]="reporte.type_id" readonly>
    <span class="input-group-text">Usuario: {{reporte.user_id}}</span>
    <!-- <input class="form-control" type="text" id="user_id" [(ngModel)]="reporte.user_id" name="user_id" readonly> -->
    <span class="input-group-text">Fecha :</span>
    <input class="form-control" type="date" id="date" [(ngModel)]="reporte.date" name="date">
  </div>
</div>

<div class="container mt-4">
  <!-- Formulario para crear reporte -->
  <form class="row g-4 p-4 shadow rounded bg-light" (ngSubmit)="crearReporte()">
    <div class="input-group col-md-2">

    </div>

    <div class="col-md-8">
      <!-- <label class="form-label" for="description">Descripción Detallada:</label> -->
      <textarea class="form-control" aria-label="With textarea" [(ngModel)]="reporte.description" name="description"
        placeholder="Detalles Del Tipo De Incidencia" required></textarea>
    </div>
    <div class="col-md-12 text-center mt-5">
      <button class="btn btn-outline-success">Guardar</button>
    </div>

    <div class="mb-5"></div>
  </form>

  <div class="mb-5"></div>

  <div class="mb-5"></div>
</div>
