<!-- reporte.component.html -->
<div class="mY-4"></div>
<div class="container mt-5">
  <!-- Formulario para buscar alumnos -->
  <form class="row g-4 p-4 shadow rounded bg-light" (ngSubmit)="buscarAlumno()">
    <h2 class="mb-3 text-center">Creando Reporte De Incidencia</h2>
    <div class="col-md-8">
      <input type="text" class="form-control" [(ngModel)]="criterio" name="criterio"
        placeholder="Nombre O Apellido Del Alumno" required>
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn-outline-success w-100">Buscar</button>
    </div>
  </form>

  <!-- Tabla de alumnos encontrados con checkboxes para seleccionar -->
  <div class="table-responsive mt-3" *ngIf="alumnos.length > 0">
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-success">
        <tr>
          <th>Seleccionar</th>
          <th>CURP</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Grupo</th>
          <th>Semestre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>
           <!-- Checkbox para seleccionar alumno -->
          <input type="checkbox" [(ngModel)]="alumno.seleccionado" (change)="seleccionarAlumno(alumno)">

          </td>
          <td>{{ alumno.student_id }}</td>
          <td>{{ alumno.name }}</td>
          <td>{{ alumno.firstname }}</td>
          <td>{{ alumno.lastname }}</td>
          <td>{{ alumno.group_id }}</td>
          <td>{{ alumno.semester_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ID del alumno seleccionado -->
  <div class="input-group col-md-4 mt-3" *ngIf="reporte.student_id">
    <span class="input-group-text">Alumno: </span>
    <input class="form-control" type="text" id="alumnoId" [value]="reporte.student_id" readonly>
  </div>
 </div>

<div class="container my-4">
  <!-- Tabla de incidencias con checkboxes para seleccionar -->
  <div class="table-responsive mt-3">
    <table class="table table-hover table-striped">
      <thead class="table-success">
        <tr>
          <th>Seleccionar</th>
          <th>ID</th>
          <th>Tipo</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incidencia of incidencias">
          <td>
            <!-- Checkbox para seleccionar incidencia -->
          <input type="checkbox" [(ngModel)]="incidencia.seleccionado" (change)="seleccionarIncidencia(incidencia)">
          </td>
          <td>{{ incidencia.type_id }}</td>
          <td>{{ incidencia.type_name }}</td>
          <td>{{ incidencia.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Detalles de la incidencia seleccionada -->
  <div class="input-group col-md-4 mt-3" *ngIf="reporte.type_id">
    <span class="input-group-text">Incidencia {{reporte.type_id}}</span>
    <span class="input-group-text">Usuario {{reporte.user_id}}</span>
    <span class="input-group-text">Fecha </span>
    <input class="form-control" type="date" id="date" [(ngModel)]="reporte.date" name="date">
  </div>
</div>

<div class="container my-4">
  <!-- Formulario para crear reporte -->
  <form class="row g-4 p-4 shadow rounded bg-light" (ngSubmit)="crearReporte()">
    <div class="col-md-8">
      <textarea class="form-control" aria-label="With textarea" [(ngModel)]="reporte.description" name="description"
        placeholder="Detalles Del Tipo De Incidencia" required></textarea>
    </div>
    <div class="col-md-12 text-center mt-5">
      <button class="btn btn-outline-success">Guardar</button>
    </div>
  </form>
</div>
