.container {
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.btn {
  width: 100%;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.table-responsive-sm {
  max-height: 400px; /* Ajusta el valor según tu preferencia */
  overflow-y: auto;  /* Habilita el scroll vertical */
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Hace que el desplazamiento sea suave en móviles */
}

.table {
  table-layout: auto; /* Ajusta el ancho de las celdas según el contenido */
  word-wrap: break-word; /* Asegura que el contenido largo se ajuste */
}
