<div class="mb-4"></div>
<div class="container mt-5">
  <form class="row g-4 p-4 shadow rounded bg-light">
    <h2 class="text-center">Actualizando Tutor</h2>
    <div class="col-md-6">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" required [(ngModel)]="tutor.name" name="name">
    </div>
    <div class="col-md-6">
      <label class="form-label">Apellido Paterno</label>
      <input type="text" class="form-control" required [(ngModel)]="tutor.firstname" name="firstname">
    </div>
    <div class="col-md-6">
      <label class="form-label">Apellido Materno</label>
      <input type="text" class="form-control" required [(ngModel)]="tutor.lastname" name="lastname">
    </div>
    <div class="col-md-3">
      <label class="form-label">Telefono</label>
      <input type="text" class="form-control" required [(ngModel)]="tutor.telephone" name="telephone">
    </div>
    <div class="col-md-3">
      <label class="form-label">Celular</label>
      <input type="text" class="form-control" required [(ngModel)]="tutor.celphone" name="celphone">
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" required [(ngModel)]="tutor.email" name="email">
    </div>
    <div class="col-md-6">
      <label class="form-label">Observación</label>
      <input type="text" class="form-control" required [(ngModel)]="tutor.description" name="description"
        placeholder="Agrega una observación opcional.">
    </div>
    <div class="col-md-6">
      <label class="form-label">Direccion</label>
      <textarea id="adress" class="form-control" rows="2" [(ngModel)]="tutor.adress" name="adress"
        placeholder="Agrega tu calle y colonia"></textarea>
    </div>


    <div class="col-md-12 d-flex justify-content-between mt-5">
      <button class="btn btn-outline-success" (click)="actualizar()">GUARDAR</button>
      <button class="btn btn-outline-danger" (click)="borrarTutor(tutor.parent_id)">BORRAR</button>
    </div>
  </form>
</div>
