<div class="container mt-5">
  <form class="row g-4 p-4 shadow rounded bg-light" action="">
    <h2>Descargar Copia de Seguridad</h2>
    <p>Haz clic en el botón de abajo para descargar una copia de seguridad de la base de datos.</p>
    <!-- Botón estilizado -->
    <button (click)="downloadBackup()" class="btn btn-primary">
      Descargar copia de seguridad
    </button>
  </form>
</div>

<div class="container mt-5">
  <form action="" class="row g4 p4 shadow rounded bg-light ">
  <h2>Subir copia de seguridad descargada periodicamente</h2>
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="onUpload()" class="btn btn-primary " >Subir Archivo</button>
  </form>
</div>


<div class="container mt-5">
  <form class="row g-4 p-4 shadow rounded bg-light" (submit)="onSubmit()" enctype="multipart/form-data">
    <h2>Subir Archivo Datos De Alumnos</h2>
    <label for="">Buscar Archivo CSV</label>
    <input class="" type="file" (change)="onFileSelected($event)" accept=".csv" />
    <button class="btn btn-outline-success" type="submit" [disabled]="!selectedFile">Subir Alumnos CSV</button>
  </form>
</div>

<div class="container mt-5">
  <form class="row g-4 p-4 shadow rounded bg-light" (click)="uploadTutorescsv()" enctype="multipart/form-data">
    <h2>Subir Archivo Datos De Tutores</h2>
    <label for="">Buscar Archivo CSV</label>
    <input class="" type="file" (change)="onFileSelected($event)" accept=".csv" />
    <button class="btn btn-outline-success" type="submit" [disabled]="!selectedFile">Subir Tutores CSV</button>
  </form>
</div>
